<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzuli.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zzuli.pojo.User">
    <id column="uId" jdbcType="INTEGER" property="uid" />
    <result column="uName" jdbcType="VARCHAR" property="uname" />
    <result column="uPassword" jdbcType="VARCHAR" property="upassword" />
    <result column="uTelephone" jdbcType="VARCHAR" property="utelephone" />
  </resultMap>

  <!--根据手机号查询用户-->
  <select id="getUserByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from user where uTelephone=#{utelephone,jdbcType=CHAR}
  </select>


  <sql id="Base_Column_List">
    uId, uName, uPassword, uTelephone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where uId = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where uId = #{uid,jdbcType=INTEGER}
  </delete>
  <!-- 添加用户 -->
  <insert id="insert" parameterType="com.zzuli.pojo.User">
    insert into user (uId, uName, uPassword, 
      uTelephone)
    values (#{uid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{upassword,jdbcType=VARCHAR}, 
      #{utelephone,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.zzuli.pojo.User">
    update user
    set uName = #{uname,jdbcType=VARCHAR},
      uPassword = #{upassword,jdbcType=VARCHAR},
      uTelephone = #{utelephone,jdbcType=VARCHAR}
    where uId = #{uid,jdbcType=INTEGER}
  </update>
</mapper>